* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Helvetica, Arial, sans-serif; 
}
.text-white {
    color: white !important; /* important chỉ dùng cho những cái riêng lẻ như này thì mới dễ kiểm soát */
}
#main {

}
/* Header */
#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /* ko có thì sau khi thêm slider nav lại bị chìm xuống */
}
#nav {
    display: inline-block; /* thì search-icon mới lên ngang hàng được*/
}
#nav li {
    display: inline-block;
    position: relative;
    
}
#nav .nav-arrow-down {
    font-size: 14px;
}
#nav, .subnav {
    list-style-type: none;
}
#nav li:hover .subnav{
    display: block;

}
#nav > li:hover > a,
#nav .subnav > li:hover{
    background-color: #ccc;
    color: black;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;

    line-height: 46px;
    padding: 0 22px;
    display: inline-block;/* de hover vao se sam ca o */
}
#nav > li > a {
    text-transform: uppercase;
}
#nav .subnav {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3); green, blue, alpha)
}
#nav .subnav li {
    display: block;
}
#nav .subnav a {
    color: black;
    display: block; /*để cho nó có màu hết cả ô ngang, cho nó width là 100% cx đc*/
    padding: 0 12px;
    line-height: 38px;
}

#header .search-btn {
    
    color: white;
    font-size: 20px;
    float: right;
    line-height: 46px;
    padding: 0 21px;
}
#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

/* Slider */
#slider {
    margin-top: 46px;
    padding-top: 50%; /* 50% chiều ngang của chính nó*/
    background-image: url(/assets/img/slider1.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#slider .text-content {
    position: absolute;
    color: white;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%); /* ngoài cách căn giữa này còn hai cách như width: 100% hay left, right: 0 hay margin-left, margin-right: auto*/
    text-align: center; /* can giua cho chu */
}
#slider .text-heading {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;

}
#slider .text-description {
    
    font-size: 15px;
}

/* content */
#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}
#content .section-heading {
    font-size: 30px;
    font-weight: 500px;
    letter-spacing: 4px; /* khoang cach cac chu*/
}
#content .section-heading,
#content .section-sub-heading {
    text-align: center;
}
#content .section-sub-heading {
    font-size: 15px;
    margin-top: 25px;
    font-style: italic; /* phong cach cua chu*/
    opacity: 0.6;
}
#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify; /* căn đều hai lề */
    line-height: 1.4; /* tiếng anh thường là 1.4 tiếng việt thường là 1.6 */
}

#content .members-list {
    margin-top: 48px;

}
#content .member-item {
    float: left;
    width: calc(100% /3);
    text-align: center;
}

#content .member-name {
}
#content .member-img {
    margin-top: 24px; 
    border-radius: 4px;
    width: 154px;
}
.clear {
    clear: both;
}

/*  */

#content .tour-section {
    background-color: black;
}

#content .tickets-list {
    background-color: #fff;
    list-style-type: none;
    margin-top: 42px;
}

#content .tickets-list li {
    font-size: 15px;
    color: #757575;
    padding: 11px 20px;
    border-bottom: 1px solid #ddd;
}
#content .tickets-list .sold-out {
    background-color: #f44336;
    color: white;
    padding: 6px 10px;
    margin-left: 16px;
}
#content .tickets-list .quantity {
    background-color: black;
    border-radius: 50%;
    float: right;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
   
}

#content .place-list {
    margin: 32px -8px 0px;
    padding-bottom: 110px;
}
#content .place-list::after {
    content: '';
    display: block;
    clear: both;
}
#content .place-item {
    float: left;
    width: calc(100%/3);
    padding: 0 8px;
}
#content .place-img {
    width: 100%;
    display: block;
}
#content .place-img:hover {
    opacity: 0.6;
}
#content .place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}



#content .place-heading {
    font-size: 15px;
    font-weight: 600px;

}
#content .place-time {
    color: #757575;
    margin-top: 15px;
}
#content .place-desc {
    line-height: 1.4;
    margin-top: 15px;

}
#content .place-buy-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 10px 16px;
    display: inline-block;
    margin-top: 22px;
}
#content .place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}



/* footer */
#foote
}